[user]
	name = Troy Comi
	email = "troycomi@gmail.com"
[color]
    diff = auto
    status = auto
    branch = auto
[include]
        path = .github.gitconfig
[push]
    default = matching
[alias]
    lg = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
    lg2 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''%C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
	d = difftool
[diff]
	tool = vimdiff
[merge]
	tool = vimdiff
[difftool]
	prompt = false
    trustExitCode = true
[gpg]
	program = gpg2
[core]
	autocrlf = false
	safecrlf = true
    editor = /usr/bin/vim
    excludesfile = ~/.gitignore_global
	eol = lf
[credential]
    helper = cache --timeout 6000

[commit]
    template = ~/.gittemplate
