[user]
	name = Troy Comi
	email = "troycomi@gmail.com"
[color]
    diff = auto
    status = auto
    branch = auto
[include]
        path = .github.gitconfig
[push]
    default = matching
[alias]
	lg = log --color --graph --pretty=format:'%C(auto)%h -%d %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	d = difftool
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[gpg]
	program = gpg2
[core]
	autocrlf = input
	safecrlf = true
    editor = /usr/bin/vim
[credential]
    helper = cache --timeout 6000
