[user]
	name = Lance Parsons
	email = lparsons@princeton.edu
[color]
    diff = auto
    status = auto
    branch = auto
[include]
        path = .github.gitconfig
[push]
    default = matching
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
