"\C-p":history-search-backward
"\C-n":history-search-forward

"\e[A":history-search-backward
"\e[B":history-search-forward

"\e[1;5C": forward-word
"\e[1;5D": backward-word

set show-all-if-ambiguous On
set show-all-if-unmodified On

set colored-stats On
set visible-stats On
